
assets/server.key
.sfdx/
.vscode/settings.json
force-app/main/default/profiles/Custom: Marketing Profile.profile-meta.xml
force-app/main/default/profiles/Custom: Sales Profile.profile-meta.xml
force-app/main/default/profiles/Custom: Support Profile.profile-meta.xml
force-app/main/default/sites/AffairJin.site-meta.xml
force-app/main/default/profiles/affair Profile.profile-meta.xml
force-app/main/default/sites/affair.site-meta.xml
